.form-popover-container {
  text-align: center;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
  gap: 17px;
  padding: 10px 24px;
}

.add-button {
  padding: 7px 20px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.edit-button {
  color: black;
  text-align: left;
  padding-left: 9px;
  padding-top: 3px;
}

.popover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  align-items: flex-start;
  padding-right: 33px;
  z-index: 100;
  padding-top: 141px;
}

.popover-content {
  background: white;
  border-radius: 23px;
  height: fit-content;
  width: 78.5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popover-header {
  position: relative;
  margin-bottom: 15px;
  padding: 16px;
  background: bisque;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  background: linear-gradient(135deg, #783fed, #442487);
  color: white;
}

.popover-header h3 {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.close-button {
  position: absolute;
  right: 29px;
  top: 15px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-button {
  width: 16%;
  border: 1px solid gray;
  border-radius: 53px;
  padding: 7px 0;
  background: #6a11cb;
  background: gray;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 21px;
}

.save-button:hover {
  background: #2575fc;
}

@media (max-width: 480px) {
  .popover-overlay {
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
  }

  .status-dropdown {
    font-size: smaller;
  }
  .edit-button {
    padding-top: 7px;
    font-size: larger;
  }

  .action-dropdown .delete-btn {
    font-size: 10px;
    font-size: larger;
  }

  .popover-content {
    width: 94.5%;
  }

  .form-fields {
    grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .popover-overlay {
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
  }

  .action-dropdown .delete-btn {
    font-size: 10px;
  }

  .status-dropdown {
    font-size: smaller;
  }
}

@media (min-width: 1025px) {
  th {
    font-size: 14px;
  }

  td {
    font-size: 12px;
  }
}

@media (min-width: 1281px) {
  th {
    font-size: 16px;
  }

  td {
    font-size: 14px;
  }
}
